body {
    padding-top: 70px;
}

/*
|--------------------------------------------------------------------------
| Actionbar
|--------------------------------------------------------------------------
*/
.actionbar {
    position: absolute;
    top: 5px;
    right: 5px;
}

.actionbar .dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 0;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
}

.actionbar .dropdown-menu>li>a {
    padding: 5px 7px;
    margin-top: 0;
}

/*
|--------------------------------------------------------------------------
| Pointer for ajax active elements
|--------------------------------------------------------------------------
*/
[data-ajax] { 
    cursor: pointer;
}

/*
|--------------------------------------------------------------------------
| Panels need to be relative for positioning absolute actionbars
|--------------------------------------------------------------------------
*/
.panel {
    position: relative;
}

/*
|--------------------------------------------------------------------------
| Fontsize for button fa icons
|--------------------------------------------------------------------------
*/
.btn i.fa {
    font-size: 14px;
}

/*
|--------------------------------------------------------------------------
| To remove top, bottom or all vertical margins from elements
|--------------------------------------------------------------------------
*/
.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-v-margin {
    margin-top: 0;
    margin-bottom: 0;
}

/*
|--------------------------------------------------------------------------
| Vertical buffers
|--------------------------------------------------------------------------
*/
.bottom-buffer {
    margin-bottom: 15px;
}

.top-buffer {
    margin-top: 15px;
}

.buffer {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*
|--------------------------------------------------------------------------
| Scrolling
|--------------------------------------------------------------------------
*/
.scroll {
    max-height: 250px;
    overflow-y: scroll;
}

/*
|--------------------------------------------------------------------------
| Loader image (used on ajax request)
|--------------------------------------------------------------------------
*/
#status {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.4);
}

#status i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 72px;
    color: #00ff00;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading #status {
    display: block;
}

#scrolltotop:active,#scrollertop:focus {
    outline: none;
}

/*
|--------------------------------------------------------------------------
| Editbox heading correction
|--------------------------------------------------------------------------
*/
.editbox .panel-heading ul {
    margin-bottom: 0;   
}

